<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
  
    <add name="RohamDbConnection" connectionString="Data Source=.;Initial Catalog=colordb;Integrated Security=True"  providerName="System.Data.SqlClient" />
    <!--<add name="RohamDbConnection" connectionString="Data Source=LG;Initial Catalog=ColorDb;Integrated Security=True;Connect Timeout=30;" />   9d?f6q5S9  -->
    <!--<add name="RohamDbConnection" connectionString="Data Source=.\;Initial Catalog=colordb;User ID=roham;password =Uv8m~g45" providerName="System.Data.SqlClient" />-->
    <!--<add name="RohamDbConnection" connectionString="Data Source=185.192.112.45;Initial Catalog=colordb;User ID=roham;password =Nin!u738" providerName="System.Data.SqlClient" />-->


  </connectionStrings>
  
  
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <customErrors mode="RemoteOnly"></customErrors>
  </system.web>
</configuration>